.search-component {
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem black;

  input[type='submit'] {
    padding: 0.5rem 2rem;
    margin: 1rem 1rem;
  }

  @media (max-width: 50rem) {
    input[type='submit'] {
      width: calc(100% - 3rem);
    }
  }
}
