body {
  .container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .loader_text, .no-data {
    text-align: center;
  }

  label.required:after {
    content: " *";
  }

  .field_with_errors {
    display: inline;

    input {
      border: 1px solid red !important;
    }
  }
}
